@{
    ViewBag.Title = "Home";
}
<div class="row">
    <div class="col-md-12">
        <div class="home-banner-img"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to ThreeAmigos!</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel pulvinar eros, semper mattis lacus.
                Ut id accumsan sem, ut laoreet neque. Phasellus sagittis ex lectus, at ultrices lorem elementum nec.
                Proin et lorem vitae metus interdum cursus. Praesent eget eleifend eros. Sed eu arcu consectetur justo
                facilisis tristique vel at tellus. Duis vel libero vel purus accumsan dictum at at tortor.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Integer Cursus</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel pulvinar eros, semper mattis lacus.
                Ut id accumsan sem, ut laoreet neque. Phasellus sagittis ex lectus, at ultrices lorem elementum nec.
                Proin et lorem vitae metus interdum cursus.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Elementum Leo Sed</h2>
            <p>
                Integer pellentesque dignissim erat ut rutrum. Etiam lacinia enim vitae magna volutpat dignissim. Nam
                quis pellentesque diam, pulvinar aliquam magna. Ut leo velit, feugiat eget volutpat at, aliquam id
                mauris.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Nam Imperdiet</h2>
            <p>
                Phasellus commodo massa augue, et sagittis dui scelerisque quis. Morbi aliquet nec quam vitae aliquet.
                Cras a magna nec velit malesuada aliquam. Phasellus consequat ac nulla eget maximus. Aenean dignissim
                laoreet fringilla.
            </p>
        </div>
    </div>
</div>
